

{literal}

<div id="vue-comentario">
    <h3 v-if="comentarios.length==0">No existen comentarios para este producto</h3>
    <h2 v-if="comentarios.length>=1">Comentarios</h2>
    <h3 v-if="comentarios.length>1">Promedio Calificaciones: {{promedio}}</h3>
    
  
    <ul id="comentario-list" class="list-group col-6">
        <li   
            
            v-for="comentario in comentarios"
            :data-id-comentario="comentario.id" 
            class="list-group-item list-group-item-success mb-3"> 
            Comentado por:{{comentario.nombre}} </br>
            Comentario: {{ comentario.descripcion}} </br>
            Puntuacion: <span class="badge badge-primary badge-pill">{{comentario.puntuacion}} </span>
               
            <button 
                v-if ="tipo=='admin'"
                v-on:click="borrar(comentario.id)" 
                class="btn btn-info">Borrar comentario
            </button>
         </li>
    </ul>
</div>

{/literal}
