

  <form action="buscar" method="POST">
    <div class="form-group">
        <label for="formGroupExampleInput">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2"> Precio minimo</label>
        <input type="text" class="form-control" id="precio1" name="precio1" placeholder="precio1">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2"> Precio maximo</label>
        <input type="text" class="form-control" id="precio2" name="precio2" placeholder="precio2">
    </div>
     <div class="col-3">
        <button type="submit" class="form-control btn  btn-info">Buscar</button>
    </div>
          
  </form>
