{include file="header.tpl"}


 <div class="container">
        <div class="row justify-content-center mt-5">
            <h2> {$error} </h2>
        </div>
    </div>
        

{include 'footer.tpl'}

