{include file="header.tpl"}


<div class="card-deck">
  <div class="card">
    <img src="img/h1.jpg" width=50%; class="card-img-top" alt="Productos">
    <div class="card-body">
      <h5 class="card-title">Productos</h5>
      <p class="card-text">Encontrá todos nuestos productos en esta sección</p>
      <a href="productos" class="btn  btn-info stretched-link">Ver productos</a>
    </div>
  </div>
  <div class="card">
    <img src="img/37.jpg" class="card-img-top" alt="Categorias">
    <div class="card-body">
      <h5 class="card-title">Categorias</h5>
      <p class="card-text">Buscá nuestros productos según su categorias</p>
      <a href="categorias" class="btn  btn-info stretched-link">Ver categorías</a>
    </div>
  </div>
</div>
  

{include file="footer.tpl"} 