{include file="header.tpl"}


<div class="d-flex justify-content-center mt-2 ">
    <img src="img/heladeria.jpg" width=50% class="img-thumbnail" alt="Helados">
</div>

<div class="container">
  <div class="row justify-content-center mt-2 mb-2">
            <div class="col -2">
                <ul class="list-group list-group-horizontal">
                <li class="list-group-item mr-2"><h3><a href="listaproductos">Productos</a></h3> </li>
                <li class="list-group-item mr-2"><h3><a href="crearProducto">Agregar producto</a></h3></li>
                <li class="list-group-item mr-2"><h3><a href="listacategorias">Categorias</a><h3></li>
                <li class="list-group-item mr-2"><h3><a href="crearCategoria">Agregar categoria</a></h3></li>
                <li class="list-group-item mr-2"><h3><a href="usuarios">Usuarios</a></h3></li>

                </ul>
            </div>
    </div>
</div>
   
  
{include file="footer.tpl"}