{include file="header.tpl"}


 <div class="container">
        <div class="row justify-content-center mt-5">
            <h2> {$mensaje} </h2>
        </div>
</div>

<div class="row justify-content-center mt-4">
    <h2><a href="productos">Comenzar a navegar</a><h2>
</div>
        

{include 'footer.tpl'}
