{include file="header.tpl"}

 <h2> Registrate! </h2> 
 <div class="container"> 
        <div class="row justify-content-center mt-5">
             <form action="guardarRegistro" method="POST">
                <div class="form-group shadow-lg p-3 mb-5 bg-white rounded col-12">
                  <label for="nombre">Nombre </label>
                  <input type="nombre" class="form-control" id="nombre" name="nombre"placeholder="Ingresa tu nombre">
                  <label for="exampleInputEmail1">Email </label>
                  <input type="email" class="form-control" id="exampleInputEmail1" name="user" aria-describedby="emailHelp" placeholder="Ingresa tu email">
                
                  <label for="exampleInputPassword1">Contraseña</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" name="pass" placeholder="Ingresa tu contraseña">

                  <label for="exampleInputPassword1">Repeti tu contraseña</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" name="pass2" placeholder="Repeti tu contraseña">
                </div>
                <button type="submit" class="btn btn-primary">Registrarme</button>
            </form>
        </div>
    </div>

 
</div>


{include file="footer.tpl"}
